<a href="https://colab.research.google.com/github/ghagol/Statistics/blob/main/Tipos_de_Amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
dataset = pd.read_csv('credit_data.csv')

In [3]:
dataset.shape

(2000, 5)

In [4]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

amostra aleatoria simples

In [5]:
df_amostra_aleatoria = dataset.sample(n = 1000, random_state = 1)

In [6]:

def amostragem_aleatoria(dataset, amostras):
    return dataset.sample(n = amostras, random_state = 1)

df_amostra_aleatoria= amostragem_aleatoria(dataset, 1000)

amostra sitematica

In [7]:
1000/ len(dataset)

0.5

In [8]:
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset), step = intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [9]:
df_amostra_sistematica = amostragem_sistematica(dataset, 1000)

amostra estratificada

In [10]:
from sklearn.model_selection import StratifiedShuffleSplit

In [11]:
dataset['c#default'].value_counts()

c#default
0    1717
1     283
Name: count, dtype: int64

In [12]:
1717/ len(dataset),283/ len(dataset)

(0.8585, 0.1415)

In [13]:
def amostragem_estratificada(dataset, percentual):
    split = StratifiedShuffleSplit(test_size = percentual, random_state = 1)
    for _, y in split.split(dataset, dataset['c#default']):
        df_y = dataset.iloc[y]
    return df_y

In [14]:
df_amostra_estratificada = amostragem_estratificada(dataset, 0.5)

amostra de reservatorio

In [15]:
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(dataset.iloc[i])

    i=0
    tamanho=len(dataset)
    reservatorio=[0] *amostras
    for i in range(amostras):
      reservatorio[i]=stream[i]

    while i<tamanho:
      j=random.randrange(i+1)
      if j<amostras:
        reservatorio[j]=stream[i]
      i+1
    return dataset.iloc[reservatorio]

In [16]:
df_amostra_reservatorio = amostragem_reservatorio(dataset, 1000)

KeyboardInterrupt:

comparativo

In [17]:
dataset['age'].mean()

40.80755937840458

In [19]:
dataset['income'].mean()

45331.600017793244

In [18]:
dataset['loan'].mean()

4444.369694688258

In [20]:
df_amostra_aleatoria['age'].mean()

40.49552561124429

In [22]:
df_amostra_aleatoria['income'].mean()

45563.268653769046

In [21]:
df_amostra_aleatoria['loan'].mean()

4449.446900442365

In [23]:
df_amostra_estratificada['age'].mean()

40.53363707173919

In [24]:
df_amostra_estratificada['income'].mean()

45101.366750267334

In [25]:
df_amostra_estratificada['loan'].mean()

4423.7446510941945

In [26]:
df_amostra_sistematica['age'].mean()

40.91117381141754

In [27]:
df_amostra_sistematica['income'].mean()

45691.49875066942

In [28]:
df_amostra_sistematica['loan'].mean()

4506.78797642633

In [ ]:
df_amostra_reservatorio['age'].mean()

NameError: name 'df_amostra_reservatorio' is not defined

In [30]:
df_amostra_reservatorio['income'].mean()

NameError: name 'df_amostra_reservatorio' is not defined

In [ ]:
df_amostra_reservatorio['loan'].mean()